{% extends "_base.html" %}


{% block hero %}
<section id="hero" class="d-flex align-items-center">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
        <div class="col-xl-6">
          <h1>{{thing.name}}</h1>
          <h2>Do you want to delete this item ?</h2>
          <form action="" method="POST">
              {% csrf_token %}
              <input type="submit" value="OK!" class="btn-get-started btn-danger">
          </form>
        </div>  
      </div>
    </div>

  </section><!-- End Hero -->
{% endblock %}
